/* Body de la página*/

body {         
    font-family: Courier New;
    font-size: 12px;
    color: black;
    background-color: #cccccc;
}

/* Menú de navegación desplegable*/

#menuDesp {
    position: absolute;
    top: 50px;
    left: 15%;
}

#menuDesp li {
    color: #0000FF;
    float: left;
    width: 14em;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    position: relative;
    cursor: default;
    background-color: #bbbbbb;
}

#menuDesp li ul {
    padding-top: 2px;
    margin: 0;
}

#menuDesp a {
    text-decoration: none;
}

#menuDesp li a {
    font-weight: bold;
    font-size: 16px;
    color: #0000FF;
}

#menuDesp li a:hover {
    text-decoration:underline;
}

#menuDesp li li a:hover {
    text-decoration:none;
}

#menuDesp li li a{ 
    border-color: #0000FF; 
    border-style: solid; 
    border-width: 0px 2px 1px 2px; 
    display: block;	
    color: #000000; 
    font-weight: bold;
    line-height: 18px;
}


li ul {
    padding:0.5em 0 1em 0;
    display:none;
    position:absolute;
    top:100%;
    left:0;
}

li ul {
    top:auto;
    left:auto;
}

li li {
    float: left;
    border: 0;
    display: block;
}

li:hover ul,li.over ul{
    display:block;
}